body {
  background-color: transparent;
}

marquee {
  /* line-height: 90px; */
  color: red;
  font-size: 21pt;
  text-decoration: none;
  font-family: "Arial", sans-serif;
  background-color: white;
}

ol {
  height: 425px;
}

#content {
  text-align: center;
}
